h1 {
    text-align: center;
}

.App-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-bottom: 50px;
}

.link-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    position: absolute;
    right: 0;
}

.link-container .a {
    cursor: pointer;
    margin: 30px;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section {
    width: 60%;
    margin-bottom: 50px;
}
